[submodule "cygwin-link"]
	path = cygwin-link
	url = git://github.com/emacsmirror/cygwin-link.git
[submodule "jshint-mode"]
	path = jshint-mode
	url = git://github.com/daleharvey/jshint-mode.git
[submodule "emmet"]
	path = emmet
	url = https://github.com/smihica/emmet.git
[submodule "org-caldav"]
	path = org-caldav
	url = https://github.com/dengste/org-caldav.git
